button > a {
    color: unset;
    text-decoration: unset;
}

.header {
    color: black;
    width: 100%;
    height: 15%;
    text-align: center;
}

.block {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}