.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn{
    top: 6px;
    right: 6px;
}

.popup-inner{
    max-width: 640px;
    background-color: #fff;
}

.room, .teacher{
    margin-top: 20px;
}